################################################################################
# Данный GITIGNORE-файл был автоматически создан Кротиковым
################################################################################

*.aux
*.lof
*.log
*.out
*.syntex.gz
*.toc